
  <h1 class="main-form">assignment</h1>
    <form [formGroup]="form" class="main-form" autocomplete="off" (ngSubmit)="onSubmit()">
      <div class="row" >
        <div class="col">
          <div class="form-group">
            <label for="FirstName">First Name</label>
            <input type="text" class="form-control" id="FirstName"  formControlName="firstName" aria-describedby="FirstNameError" placeholder="Enter First Name">
            <small id="FirstNameError" class="form-text text-muted">First Name Is Required</small>
          </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" id="lastName"  required formControlName="lastName"  aria-describedby="lastNameError" placeholder="Enter Last Name">
          <small id="lastNameError" class="form-text text-muted">Last Name Is Required</small>
        </div>
      </div>
      </div>
      
      

      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" required formControlName="emailID"  aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">Email Id Is Required.</small>
      </div>
     
      <div class="form-group">
        <label for="ContactNo">Phone number</label>
        <input type="number" class="form-control" id="ContactNo"  required formControlName="contactNo" aria-describedby="contactError" formControlName="contactNo" placeholder="Enter Phone Number">
        <small id="contactError" class="form-text text-muted">Contact Number Is Required</small>
      </div>
     
      <div class="form-group">
        <label for="imageProfile">Profile Image</label>
        <input type="file" class="form-control" id="imageProfile"  required formControlName="image" aria-describedby="imageProfileError" placeholder="Select Profile Image">
        <small id="imageProfileError" class="form-text text-muted">Please add profile Image</small>
      </div>
     
     <div class="form-group">
      <button class="btn btn-success" type="submit ">Submit</button>
     </div>
     </form>

 