/* You can add global styles to this file, and also import other style files */
.main-form {
    width:450px;
    margin:auto; 
}
.center {
    align-content: center;
}
body{
    background-color: #f4f4e163 !important;
}
.formDiv{
    background-color: white;
    padding: 25px;
    border: 1px solid #d7cbcb;
    border-radius: 18px;
}